.banner-children {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.banner-children h1 {
    color: white;
    font-size: 4vw;
}
