body {
    font-family: 'Raleway';
    font-weight: 500;
}

p {
    line-height: 1.5;
}

.underline {
    height: 4px;
    width: 100px;
    background: #179fd4;
    margin-top: -10px;
    margin-bottom: 1em;
}

.fab-container {
    position: fixed;
    bottom: 2em;
    right: 2em;
}